* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1194px;
  margin: auto;
}

.text-light {
  color: #fff;
}

.btn {
  border-radius: 25px;
  text-decoration: none;
}

.btn-default {
  background-color: #fff;
  color: #000;
  padding: 12px 50px;
  display: inline-block;
}

.btn-primary {
  background-color: #fF4732;
  color: #fff;
  padding: 12px 50px;
  display: inline-block;
}

.btn-outline {
  border: 2px solid #F37321;
  box-sizing: border-box;
  border-radius: 33px;
  padding: 14px 25px;
  background-color: transparent;
  cursor: pointer;
}

.btn-center {
  display: block;
  margin: 62px auto auto auto;
  background-color: #F6F6F6;
  padding: 16px 105px;
}

.header {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.header .interaction {
  display: flex;
  align-items: center;
  width: 100%;
}
.header .interaction .search-form {
  margin-left: 76px;
  background: #EEEEEEB5;
  border-radius: 10px;
  display: flex;
  max-width: 620px;
  flex-grow: 1;
  position: relative;
}
.header .interaction .search-form .search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 20px 13px;
}
.header .interaction .search-form .search-button {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  padding-right: 18px;
  padding-left: 18px;
  cursor: pointer;
}
.header .interaction .login {
  margin-left: auto;
  background: #EBEBEB;
  border-radius: 50px;
  padding: 20px 30px;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000;
}
.header .interaction .shopping-cart {
  position: relative;
  text-decoration: none;
  width: 49px;
  height: 49px;
  border-radius: 50px;
  background-color: #F66A15;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}
.header .interaction .shopping-cart .shopping-counter {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #FFAF19;
  color: #000;
  font-size: 8px;
  line-height: 9px;
  display: block;
  padding: 5px;
  border-radius: 50px;
}

.slide-summer {
  background-image: url("../img/slide-summer.png");
}

.slide-autumn {
  background-image: url("../img/slide-autumn.png");
}

.slider-vitamin {
  background-image: url("../img/slider-vitamin.png");
}

.slide {
  position: relative;
  background-color: #EEEEEEB5;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  overflow: hidden;
  min-height: 400px;
  display: flex;
  align-items: center;
  padding: 100px;
}
.slide .slide-content {
  position: absolute;
  max-width: 400px;
}
.slide .slide-content .slide-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 50px;
  line-height: 51px;
}
.slide .slide-content .slide-text {
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
}

.slide::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.43) 40.45%, rgba(0, 0, 0, 0) 100%);
}

.swiper {
  position: absolute;
  border-radius: 20px;
}

.slider-buttons {
  position: absolute;
  right: 46px;
  bottom: 40px;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 100px;
  justify-content: space-between;
}
.slider-buttons .slider-btn {
  cursor: pointer;
}

.promo {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  margin: -20px;
}
.promo .card-1 {
  background-image: url("../img/card-1.png");
}
.promo .card-2 {
  background-image: url("../img/card-2.png");
}
.promo .card {
  margin: 20px;
  flex-grow: 1;
  max-width: 570px;
  min-height: 380px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  background-color: #EEEEEEB5;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.promo .card .card-header {
  position: relative;
}
.promo .card .card-header .card-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  margin-top: 4px;
  margin-bottom: 32px;
}
.promo .card .card-header .card-description {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  max-width: 200px;
}
.promo .card .card-footer {
  position: relative;
}
.promo .card .card-footer .card-price {
  font-weight: 500;
  font-size: 24px;
  line-height: 23px;
  display: block;
  margin-bottom: 8px;
}
.promo .card .card-footer .card-delivery {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  display: block;
  margin-bottom: 25px;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
}

.delivery-week {
  padding: 100px 0;
}
.delivery-week .section-title {
  color: #000;
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  margin-top: 0;
  margin-bottom: 47px;
}
.delivery-week .delivery-cards {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.delivery-week .delivery-cards .delivery-card {
  position: relative;
  width: 275px;
  height: 182px;
  border-radius: 18px;
  overflow: hidden;
  margin: 15px;
}
.delivery-week .delivery-cards .delivery-card .delivery-tag {
  position: absolute;
  left: 10px;
  top: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  border-radius: 30px;
  background-color: #EEEEEEB5;
  padding: 5px 10px;
}
.delivery-week .delivery-cards .delivery-card .tag-health {
  color: #49494F;
  background-color: #D0FD89;
}
.delivery-week .delivery-cards .delivery-card .tag-vegetables {
  color: #fff;
  background-color: #AEBC41;
}
.delivery-week .delivery-cards .delivery-card .tag-meat {
  color: #fff;
  background-color: #B86B78;
}
.delivery-week .delivery-cards .delivery-card .tag-poultry-meat {
  color: #fff;
  background-color: #D68334;
}
.delivery-week .delivery-cards .delivery-card .tag-fish {
  color: #fff;
  background-color: #CD6255;
}
.delivery-week .delivery-cards .delivery-card .tag-children {
  color: #49494F;
  background-color: #FFFDBF;
}
.delivery-week .delivery-cards .delivery-card .tag-parents {
  color: #49494F;
  background-color: #F6FDC8;
}
.delivery-week .delivery-cards .delivery-card .tag-prize {
  color: #49494F;
  background-color: #FEF7FE;
}
.delivery-week .delivery-cards .delivery-card .delivery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-gray {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: #F6F6F6;
}
.section-gray .tabs {
  display: flex;
  margin: 0 0 62px 0;
  padding: 0;
  list-style: none;
}
.section-gray .tabs .tabs-item {
  margin-right: 58px;
}
.section-gray .tabs .tabs-item .tabs-link {
  font-size: 20px;
  line-height: 23px;
  color: #49494F;
  text-decoration: none;
}
.section-gray .tabs .tabs-item .active {
  color: #F37321;
}
.section-gray .tabs-content {
  margin: -40px;
  display: flex;
  flex-wrap: wrap;
}
.section-gray .tabs-content .tabs-card {
  background: #fff;
  max-width: 270px;
  border-radius: 20px;
  overflow: hidden;
  margin: 20px;
}
.section-gray .tabs-content .tabs-card .tabs-img {
  max-width: 100%;
}
.section-gray .tabs-content .tabs-card .tabs-card-content {
  padding: 23px;
}
.section-gray .tabs-content .tabs-card .tabs-card-content .tabs-title {
  padding-top: 0;
  padding-bottom: 13px;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}
.section-gray .tabs-content .tabs-card .tabs-card-content .tabs-description {
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #B9B9BE;
}
.section-gray .tabs-content .tabs-card .tabs-card-content .tabs-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-gray .tabs-content .tabs-card .tabs-card-content .tabs-info .tabs-good {
  display: flex;
  flex-direction: column;
}
.section-gray .tabs-content .tabs-card .tabs-card-content .tabs-info .tabs-good .tabs-price {
  font-weight: 500;
  font-size: 23px;
  line-height: 23px;
  color: #4B4B51;
}
.section-gray .tabs-content .tabs-card .tabs-card-content .tabs-info .tabs-good .tabs-weight {
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  color: #AAAAB1;
}

.advantage {
  padding: 100px 0 200px 0;
}
.advantage .advantage-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 23px;
  color: #000000;
  margin-bottom: 52px;
}
.advantage .advantage-cards {
  margin: -40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.advantage .advantage-cards .advantage-card {
  margin: 20px;
  max-width: 270px;
  min-height: 296px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  box-sizing: border-box;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}
.advantage .advantage-cards .advantage-card .advantage-card-container-img {
  min-height: 124px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.advantage .advantage-cards .advantage-card .advantage-card-container-img .advantage-card-img {
  max-width: 60px;
}
.advantage .advantage-cards .advantage-card .advantage-card-title {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #000000;
  padding: 0 40px;
}
.advantage .advantage-cards .advantage-card .advantage-card-description {
  margin-top: 13px;
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #49494F;
  padding: 0 23px;
}

.footer {
  background: #F6F6F6;
  padding: 40px 0;
}
.footer .footer-wrapper {
  display: flex;
  align-items: center;
}
.footer .footer-wrapper .footer-logo {
  margin-right: 50px;
}
.footer .footer-wrapper .footer-nav .footer-link {
  margin-right: 50px;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}
.footer .footer-wrapper .social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.footer .footer-wrapper .social-links .social-link {
  margin-left: 20px;
  text-decoration: none;
}

@media (max-width: 1024px) {
  .container {
    max-width: 800px;
    margin: auto;
  }

  .logo-img {
    max-width: 128px;
    max-height: 58px;
  }

  .section-title {
    text-align: center;
  }

  .delivery-cards {
    justify-content: center;
  }

  .tabs {
    justify-content: center;
  }

  .tabs-content {
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
